<div role="menu"
     class="absolute right-4 origin-top-right w-48 shadow-xl rounded z-1 <%= 'hidden' if hidden %> "
     data-dropdown-target="menu"
     data-transition-enter="transition ease-out duration-100"
     data-transition-enter-start="transform opacity-0 scale-95"
     data-transition-enter-end="transform opacity-100 scale-100"
     data-transition-leave="transition ease-in duration-75"
     data-transition-leave-start="transform opacity-100 scale-100"
     data-transition-leave-end="transform opacity-0 scale-95"
     aria-orientation="vertical" aria-labelledby="dropdown_example">
  <div class="bg-white rounded-md">
    <div class="p-1 space-y-1">
      <%= content %>
    </div>
  </div>
</div>
